*{
    margin:0;
    padding:0;
}
body{
    background-color: black;
}

.card{
    background-color: beige;
    border:3px solid white;
    width:440px;
    height:200px;
    margin:auto;
    margin-top: 240px;
    box-shadow: 0 0 20px white;
    background-color: black;
}
.login-detail{
    margin:10px;
}
.login-detail h2{
    color: white;
    font-weight: 40px;
}
.user-name{
    display:flex;
    padding:10px;
}
.profile{
    margin-right: 20px;
    color: white;
}
.user-password{
    display:flex;
    padding:10px;
}
.picture{
    margin-right: 20px;
    color: white;
}
.submit-button{
    display: flex;
    align-items:center;
    justify-content:end;
}
button{
    padding:7px;
    margin-left: 30px;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
}

